<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Dashboard - Inventory Management</title>
  <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
  <%- include('./partials/sidebar.ejs') %>

  <div class="main-content">
    <h1>Product List</h1>
    <p>Welcome to your product management dashboard. Here you can add, edit, and categorize products with ease.</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% locals.all.forEach(prod => { %>
          <tr> 
            <td><%= prod.name %></td>
            <td><%= prod.category %></td>
            <td><%= prod.price %></td>
            <td><%= prod.quantity %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <button class="edit-btn"><a href="/dashboard/productlist/form"><i class="fa-solid fa-pen"></i></a></button>
    <button class="edit-btn"><a href="/dashboard/productlist/form/delete"><i class="fa-solid fa-trash"></i></a></button>
    <button class="edit-btn"><a href="/dashboard/productlist/detect"><i class="fa-solid fa-camera"></i></a></button>
  </div>
</body>
</html>
